    $s-butter-2x = 80px 0px -80px 0px 52px 41px 132px 120px 'sprite.png';
    $s-butter = 80px 41px -80px -41px 26px 21px 132px 120px 'sprite.png';
    $s-cart-2x = 0px 0px 0px 0px 80px 80px 132px 120px 'sprite.png';
    $s-cart = 0px 80px 0px -80px 40px 40px 132px 120px 'sprite.png';
