include ../modules/__mixins
include ../modules/_variables
block vars
doctype html
html(lang="ru").no-js
	include includes/head.jade
	body
		include includes/header
		main
			if currentPageTitle == 'Главная страница'
				block block-content
			else if currentPageTitle == '404 страница'
				include ../modules/main-gallery
				include ../modules/main-search
				block block-content
			else
				div.container.__inner
					include ../modules/inner-menu
					aside.left-aside
						div.banner
							a(href="#").banner-main-all-actions открыть все акции
							a(href="#").banner-link
								img(src="images/example/banner-left.png" alt="")
					div.after-left-aside
						div.content(class="#{currentPageTitle == 'Экстра' ? '__fixed': ''}")
							block block-content
					div.clearfix



		include includes/footer

		include ../modules/popups.jade
		| <script src="./scripts/_jquery-1.11.3.min.js"></script>
		| <!--[if lt IE 9]><script src="./scripts/html5shiv.min.js"></script><![endif]-->
		script(src='./scripts/vendors.js', type='text/javascript')
		script(src='./scripts/production.js', type='text/javascript')