include ../modules/__mixins
include ../modules/_variables
block vars
doctype html
html(lang="ru").no-js
	include includes/head.jade
	body
		include includes/header
		main
			if currentPageTitle == 'Главная страница'
				block block-content
			else if currentPageTitle == '404 страница'
				include ../modules/main-gallery
				include ../modules/main-search
				block block-content
			else
				div.container.__inner
					include ../modules/main-search
					include ../modules/inner-menu
					aside.left-aside
						div.banner
							a(href="#").banner-main-all-actions открыть все акции
							a(href="#").banner-link
								img(src="images/example/banner-left.png" alt="")
						if (article)
							nav.left-menu
								ul.left-menu-ctn.list-unstyled
									li.left-menu-item
										a(href="#").left-menu-link Малые размеры
									li.left-menu-item
										span.left-menu-link.__active Средние размеры
									li.left-menu-item
										a(href="#").left-menu-link Большие размеры
									li.left-menu-item
										a(href="#").left-menu-link Транспортные контейнеры
						if (catalog)
							include ../modules/filter-catalog

						if (compare)
							div.compare-aside.js-comapare-column
								div.compare-info
									div.product-options-title Габариты внешние
								div.compare-info
									div.product-options-title Размеры внутренние
								div.compare-weight
									div.product-options-title Масса
								div.compare-findings
									div.product-options-title Фурнитура
								div.compare-findings-item Выдвижная ручка
								div.compare-findings-item Петли для навесных замков или одноразовых пломб

								div.compare-findings-item Колеса

					div.after-left-aside
						if (text)
							div.content.__fixed
								block block-content
						else
							div.content
								block block-content
					div.clearfix



		include includes/footer

		include ../modules/popups.jade
		| <script src="./scripts/_jquery-1.11.3.min.js"></script>
		| <!--[if lt IE 9]><script src="./scripts/html5shiv.min.js"></script><![endif]-->
		script(src='./scripts/vendors.js', type='text/javascript')
		script(src='./scripts/production.js', type='text/javascript')