include ../modules/__mixins
include ../modules/_variables
block vars
doctype html
html(lang="ru").no-js
	include includes/head.jade
	body
		include includes/header

		block block-content


		include includes/footer

		include ../modules/popups.jade
		| <script src="./scripts/_jquery-1.11.3.min.js"></script>
		| <!--[if lt IE 9]><script src="./scripts/html5shiv.min.js"></script><![endif]-->
		script(src='./scripts/vendors.js', type='text/javascript')
		script(src='./scripts/production.js', type='text/javascript')