extends layouts/_default
block vars
	-var text = true
	-var article = true
	-var currentPageTitle = "Рэковые кейсы Pelican-Hardigg™ Composite Case – оптимальное решение для Вашего оборудования"
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(["Статьи", currentPageTitle], '|')
	h1= currentPageTitle
	div.social-follow
		a(href="#").social-follow-item.__fb
		a(href="#").social-follow-item.__vk
	div.text
		img(src="images/example/article-1.png" alt="").left
		p Вопрос грамотной упаковки грузов для их последующей перевозки на паллетах или поддонах – один из основных вопросов, которые приходится ежедневно решать в индустрии грузоперевозок.
		p Главная задача, которая встает при осуществлении задачи перевозки так называемых «сборных» грузов – это задача размещения на паллете или поддоне нескольких коробок или ящиков друг на друге таким образом, чтобы при транспортировке они не соскользнули и не упали на землю. Очевидно, что при использовании стандартной тары решение такой задачи выглядит довольно сложным – соответственно, многократно возрастает и риск порчи или повреждения перевозимых товаров.
		div.clearfix
		p Для того, чтобы свести к нулю вероятность повреждения груза при его перевозке на паллетах или поддонах, специалисты компании Pelican разработали специальные штабелируемые кейсы Pelican-Hardigg Inter-Stacking Pattern (ISP) Cases. Главное конструктивное отличие таких кейсов от любых других аналогичных изделий – это уникальное строение верхней и нижней поверхности изделия. Эти поверхности оснащены специальными выступами и выемками, наподобие тех выступов и выемок, которые имеются в любом конструкторе, например, «Lego». Выступы и выемки обеспечивают плотное сцепление верхнего и нижнего кейсов друг с другом.

		img(src="images/example/article-2.png" alt="").left
		p Для того, чтобы свести к нулю вероятность повреждения груза при его перевозке на паллетах или поддонах, специалисты компании Pelican разработали специальные штабелируемые кейсы Pelican-Hardigg Inter-Stacking Pattern (ISP) Cases.
		div.clearfix
		blockquote
			p Штабелируемые кейсы Pelican-Hardigg Inter-Stacking Pattern (ISP) Cases выпускаются в шести различных модификациях, отличающихся объемом – от 4 до 25 кубических футов (от 113 до 708 литров соответственно), поэтому Вы можете подобрать такой кейс для перевозки груза любых габаритов. Кейсы различных размеров можно спокойно ставить друг на друга – на общей устойчивости конструкции это не скажется.


		p Купить штабелируемые кейсы Pelican-Hardigg Inter-Stacking Pattern (ISP) Cases Вы можете в нашем интернет-магазине CRCSPB.RU, в котором представлен широкий ассортимент кейсов и кофров различного назначения, приобрести которые можно как при помощи заказа «Экстра», так и путем выбора из основного каталога.
