extends layouts/_default
block vars
	-var currentPageTitle = "Сравнение"
	-var compare = true
block title
	title Сравнение товаров
block block-content
	+breadcrumbsSimple(["Сравнение товаров"], '|')
	h1 Сравнение товаров
	div.compare.clearfix
		div.compare-item
			a(href="#").compare-title Inseries 0806-3 waterroof utility case
			div.compare-preview
				img(src="images/example/product1.png" alt="")
			div.compare-price
				a(href="#add-to-basket").compare-add-basket 9 160 Р
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.compare-weight
				div.compare-weight-text 22 КГ
			div.compare-findings
			div.compare-findings-item(data-index="0")
			div.compare-findings-item(data-index="1")
				div.compare-checked
			div.compare-findings-item(data-index="2")

		div.compare-item
			a(href="#").compare-title Inseries 0806-3 waterroof utility case
			div.compare-preview
				img(src="images/example/product1.png" alt="")
			div.compare-price
				a(href="#add-to-basket").compare-add-basket 9 160 Р
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.compare-weight
				div.compare-weight-text 22 КГ
			div.compare-findings
			div.compare-findings-item(data-index="0")
				div.compare-checked
			div.compare-findings-item(data-index="1")
			div.compare-findings-item(data-index="2")
				div.compare-checked

		div.compare-item
			a(href="#").compare-title Inseries 0806-3 waterroof utility case
			div.compare-preview
				img(src="images/example/product1.png" alt="")
			div.compare-price
				a(href="#add-to-basket").compare-add-basket 9 160 Р
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.product-options-item.compare-info
				div.product-options-img
					img(src="images/example/schema.png" alt="")
				div.product-options-desc.clearfix
					div.product-options-text Внешняя длина, см.
					div.product-options-result 67.1
				div.product-options-desc.clearfix
					div.product-options-text Внешняя ширина, см.
					div.product-options-result 50.8
				div.product-options-desc.clearfix
					div.product-options-text Внешняя высота, см.
					div.product-options-result 47.6
			div.compare-weight
				div.compare-weight-text 22 КГ
			div.compare-findings
			div.compare-findings-item(data-index="0")
			div.compare-findings-item(data-index="1")
				div.compare-checked
			div.compare-findings-item(data-index="2")

