extends layouts/_default
block vars
	-var currentPageTitle = "Контакты"
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(["Контакты"], '|')
	h1= currentPageTitle
	div.contacts
		div.row
			div.col-lg-4.col-md-4
				div.contacts-city Санкт-Петербург
				div.contacts-phone 8 (812) 640-93-20
			div.col-lg-4.col-md-4
				div.contacts-city Москва
				div.contacts-phone 8 (495) 640-93-20
			div.col-lg-4.col-md-4
				div.contacts-city Вся Россия
				div.contacts-phone 8 (800) 555-50-46

		div.contacts-block
			div.contacts-block-title info@crcspb.ru
			form.contacts-block-form.form(method="" action="")
				div.form-item.__error
					input(type="text" placeholder="Ваше имя")
					div.error-msg Заполните это поле
				div.form-item
					input(type="text" placeholder="Email")
				div.form-item
					textarea(placeholder="Сообщение")

				input(type="submit" value="Отправить").button.form-button
		div.contacts-desc
			h2 Реквизиты
			p ООО “Си-Эр-Си”</br>
				|ОГРН: 1037808057341 </br>
				|ИНН: 7804156836</br>
				|КПП: 780401001</br>
				|Юр.адрес: 195269, г. Санкт-Петербург,</br>
				|Учительская ул., д. 12, к. 1</br>
				|Адрес местонахождения:</br>
				|г. Санкт-Петербург, ул.Циолковского , д. 10А, оф. 109, тел./факс (812)347-7117</br>
				|Р.счет № 40702810100000005524 В ОАО «ПСКБ» г.Санкт-Петербург</br>
				|К.счет № 30101810000000000852 БИК 044030852
			a(href="mailto:info@crcspb.ru").contacts-icon-mail
			a(href="#" target="_blank").button-detail.__brown Печать
