extends layouts/_default
block vars
	-var currentPageTitle = "Экстра"
	-var text = true
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(["Заказ экстра"], '|')
	h1= currentPageTitle
	div.text
		p Компания CRCSPB.RU предлагает своим клиентам уникальную услугу – поставку любых кейсов и кофров в соответствии с Вашими индивидуальными пожеланиями!
		p Довольно часто бывает так, что Вы хотите купить кофр для гитары или другого музыкального инструмента (например, для трубы или саксофона), кейс для оружия или для инструментов и оборудования различного назначения, но не можете найти необходимой Вам модели, так как Вам требуется нестандартная модель кейса или кофра. Что же делать в этом случае? Где найти необходимый кейс для оружия или приборов и инструментов?
		p Еще недавно для ответа на этот вопрос необходимо было посетить множество интернет-магазинов и торговых точек, но теперь Вы можете просто обратиться в нашу компанию CRCSPB.RU и оформить специальный заказ «Экстра»!
		p Заказ «Экстра» позволяет Вам легко и просто купить необходимый Вам кейс для оружия, кофр для музыкальных инструментов или кейс для приборов и оборудования различного назначения – каким бы редким и нестандартным он ни был. Вам необходимо просто обратиться в нашу компанию и в форме заявки указать модель необходимого Вам кейса или кофра либо те его технические характеристики, которые являются для Вас базовыми и важными (например, его габариты или система крепления оборудования, которое Вы в этом кейсе будете переносить). После этого наши сотрудники свяжутся с Вами в кратчайшие сроки и расскажут Вам, в течение какого времени Вы сможете получить необходимый кейс для оружия, кофр для музыкальных инструментов или кейс для приборов и оборудования различного назначения.
		p
			strong Вы хотите купить эксклюзивный кейс или кофр и не знаете, с чего начать? Обращайтесь в компанию CRCSPB.RU – и Ваши мечты скоро воплотятся в реальность!
	div.callback
		div.callback-title Если Вы не нашли ТОВАР, который искали,<b>закажите его здесь и сейчас</b>!
		form.callback-form.form(method="" action="")
			div.form-item.__error
				input(type="text" placeholder="Ваше имя")
				div.error-msg Заполните это поле
			div.form-item
				input(type="text" placeholder="Email")
			div.form-item
				input(type="text" placeholder="Ваш телефон")
			div.form-item
				textarea(placeholder="Описание товара")
			div.form-item
				input(type="text" placeholder="Ссылка на товар")
			input(type="submit" value="Отправить").button.form-button