extends layouts/_default
block vars
	-var currentPageTitle = "Главная страница"
block title
	title=currentPageTitle
block block-content
	include modules/main-gallery
	div.container
		form(method="" action="").main-search
			input(type="text" placeholder="Найдите кейсы для себя").main-search-text
			input(type="submit" value="").main-search-btn

		.main-seo-text.text
			h1 Кейсы, рэки, кофры чехля -
				small безопасная перевозка и хранение
			p Компания CRCSPB.RU специализируется на торговле товарами таких категорий, как кейсы для приборов, инструментов и оборудования различного назначения, кофры для музыкальных инструментов всех видов, кофры для музыкальной аппаратуры, кейсы для оружия, а также кейсы и кофры для перевозки различных стандартных и нестандартных предметов.
		include modules/catalog
		include modules/slider-actions

	include modules/main-text
	div.container
		include modules/tape-news



