extends layouts/_default
block vars
	-var currentPageTitle = "Главная страница"
block title
	title=currentPageTitle
block block-content
	include modules/tape-news


	p hello World! <span class="ruble">i</span>