extends layouts/_default
block vars
	-var currentPageTitle = "Универсальные"
	-var article = true
	-var catalog = true
	-var product = true
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(["Каталог", "Универсальные чехлы и кейсы", "кейс 3i-0806-3B"], '|')
	div.catalog-detail
		div.catalog-detail-gallery
			h1 Кейс 3i-0806-3B
			ul.gallery.js-gallery
				li.gallery-item
					span.gallery-allowanse Уценка
					span.slider-actions-persent -23%

					img(src='images/example/product1.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product2.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product1.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product2.png' alt="").gallery-img

			div#js-bx-pager.gallery-pager
				a(data-slide-index='0', href='').gallery-preview
					img(src='images/example/product1.png' alt="")
				a(data-slide-index='1', href='').gallery-preview
					img(src='images/example/product2.png' alt="")
				a(data-slide-index='2', href='').gallery-preview
					img(src='images/example/product1.png' alt="")
				a(data-slide-index='3', href='').gallery-preview
					img(src='images/example/product2.png' alt="")
		div.catalog-detail-info
			div.catalog-detail-title Производитель
			div.catalog-detail-desc
				img(src="images/example/skb.png" alt="")
				!="\n"
				span SKB

			div.catalog-detail-title Артикул
			div.catalog-detail-desc.__bottom-small Inseries 0806-3 waterroof utility case

			div.catalog-detail-title Выберите цвет
			div.catalog-detail-desc.__bottom-big
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_114" name="test_15" checked="")._default
					label(for="test_114" style="background:blue")
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_115" name="test_15" )._default
					label(for="test_115" style="background:green")
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_116" name="test_15" )._default
					label(for="test_116" style="background:red")

			div.catalog-detail-title Конфигурация
			div.catalog-detail-desc
				select
					option Конфигурация №1
					option Конфигурация №2
					option Конфигурация №3
			div.catalog-detail-bts
				div.catalog-detail-buy
					div.catalog-detail-price 6 190 Р
					a(href="#").button Купить
				a(href="#").button-add Добавить в закладки
		div.clearfix

		div.tabs.js-tabs.clearfix
			a(href="#tab-size" data-tabs="tab-size" ).__current.tabs-item Размеры
			a(href="#tab-options" data-tabs="tab-options" ).tabs-item Характеристики
			a(href="#tab-modify" data-tabs="tab-modify" ).tabs-item Модификации
			a(href="#tab-accessories" data-tabs="tab-accessories" ).tabs-item Аксессуары
			a(href="#tab-description" data-tabs="tab-description" ).tabs-item Описание
		div.tabs-ctn
			div(data-tabs-group="tab-size")#tab-size.__current
				div.product-options.clearfix
					div.product-options-item
						div.product-options-title Габариты внешние
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6
					div.product-options-item
						div.product-options-title Габариты внутренние
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6
					div.product-options-item
						div.product-options-title Объем
						p
							b 56 дм<sup>3</sup>
				div.product-options.clearfix
					div.product-options-item
						div.product-options-title Габариты крышки
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6


			div(data-tabs-group="tab-options")#tab-options 2
			div(data-tabs-group="tab-modify")#tab-modify 3
			div(data-tabs-group="tab-accessories")#tab-accessories 4
			div(data-tabs-group="tab-description")#tab-description 5
