extends layouts/_default
block vars
	-var currentPageTitle = "Универсальные"
	-var article = true
	-var catalog = true
	-var filter_table = true
	-var product = true
block title
	title=currentPageTitle
block block-content
	+breadcrumbsSimple(["Каталог", "Универсальные чехлы и кейсы", "кейс 3i-0806-3B"], '|')
	div.catalog-detail
		div.catalog-detail-gallery
			h1 Кейс 3i-0806-3B
			ul.gallery.js-gallery
				li.gallery-item
					span.gallery-allowanse Уценка
					span.slider-actions-persent -23%

					img(src='images/example/product1.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product2.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product1.png' alt="").gallery-img
				li.gallery-item
					img(src='images/example/product2.png' alt="").gallery-img

			div#js-bx-pager.gallery-pager
				a(data-slide-index='0', href='').gallery-preview
					img(src='images/example/product1.png' alt="")
				a(data-slide-index='1', href='').gallery-preview
					img(src='images/example/product2.png' alt="")
				a(data-slide-index='2', href='').gallery-preview
					img(src='images/example/product1.png' alt="")
				a(data-slide-index='3', href='').gallery-preview
					img(src='images/example/product2.png' alt="")
		div.catalog-detail-info
			div.catalog-detail-title Производитель
			div.catalog-detail-desc
				img(src="images/example/skb.png" alt="")
				!="\n"
				span SKB

			div.catalog-detail-title Артикул
			div.catalog-detail-desc.__bottom-small Inseries 0806-3 waterroof utility case

			div.catalog-detail-title Выберите цвет
			div.catalog-detail-desc.__bottom-big
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_114" name="test_15" checked="")._default
					label(for="test_114" style="background:blue")
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_115" name="test_15" )._default
					label(for="test_115" style="background:green")
				div.filter-subitem.clearfix.__color
					input(type="radio" id="test_116" name="test_15" )._default
					label(for="test_116" style="background:red")

			div.catalog-detail-title Конфигурация
			div.catalog-detail-desc
				select
					option Конфигурация №1
					option Конфигурация №2
					option Конфигурация №3
			div.catalog-detail-bts
				div.catalog-detail-buy
					div.catalog-detail-price 6 190 Р
					a(href="#").button Купить
				a(href="#").button-add Добавить в закладки
		div.clearfix

		div.tabs.js-tabs.clearfix
			a(href="#tab-size" data-tabs="tab-size" ).__current.tabs-item Размеры
			a(href="#tab-options" data-tabs="tab-options" ).tabs-item Характеристики
			a(href="#tab-modify" data-tabs="tab-modify" ).tabs-item Модификации
			a(href="#tab-accessories" data-tabs="tab-accessories" ).tabs-item Аксессуары
			a(href="#tab-description" data-tabs="tab-description" ).tabs-item Описание
		div.tabs-ctn
			div(data-tabs-group="tab-size")#tab-size.__current
				div.product-options.clearfix
					div.product-options-item
						div.product-options-title Габариты внешние
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6
					div.product-options-item
						div.product-options-title Габариты внутренние
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6
					div.product-options-item
						div.product-options-title Объем
						p
							b 56 дм<sup>3</sup>
				div.product-options.clearfix
					div.product-options-item
						div.product-options-title Габариты крышки
						div.product-options-img
							img(src="images/example/schema.png" alt="")
						div.product-options-desc.clearfix
							div.product-options-text Внешняя длина, см.
							div.product-options-result 67.1
						div.product-options-desc.clearfix
							div.product-options-text Внешняя ширина, см.
							div.product-options-result 50.8
						div.product-options-desc.clearfix
							div.product-options-text Внешняя высота, см.
							div.product-options-result 47.6


			div(data-tabs-group="tab-options")#tab-options
				table.table.borderless
					tr
						td <b>Тип конструкции:</b>
						td Жесткий
					tr
						td <b>Защищенность:</b>
						td
							|Водо-пыле- непроницаемая конструкция (стандарт MIL-C-4150J)
							br
							|Наличие клапана выравнивания давления (MIL-STD-648C)
							br
							|IP67
					tr
						td <b>Объем:</b>
						td 35 л
					tr
						td <b>Тип крышки:</b>
						td Съемная
					tr
						td <b>Размер крышки:</b>
						td 300 на 200
					tr
						td <b>Размер корпуса:</b>
						td 300 на 200
					tr
						td <b>Материал:</b>
						td HPX® полимер
					tr
						td <b>Способ изготовления:</b>
						td термовакуумное формование
					tr
						td <b>Ручки:</b>
						td Да (или можно конкретное описание)
					tr
						td <b>Петли:</b>
						td Да (или можно конкретное описание)
					tr
						td <b>Колеса:</b>
						td Да (или можно конкретное описание)
					tr
						td <b>Штабелируемость:</b>
						td Да
					tr
						td <b>Гарантия:</b>
						td Пожизненная гарантия (непосредственному покупателю)
					tr
						td <b>Дополнительно:</b>
						td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

			div(data-tabs-group="tab-modify")#tab-modify
				div.catalog
					ul.catalog-list.clearfix.list-unstyled
						-for (var i = 0; i < 3; i++)
							li.catalog-item
								div.catalog-kind
									a(href="#" style="background:red").catalog-kind-color
									a(href="#" style="background:green").catalog-kind-color
									a(href="#" style="background:black").catalog-kind-color
								a(href="#").catalog-link
									span.catalog-persent -23%
									img(src="images/example/slider1.png" alt="")
								div.catalog-type SKB
								div.catalog-info
									a(href="#").catalog-title iSeries GoPro Camera Case 1.0
									div.catalog-size 47см Х 16см Х 13см
								div.catalog-price
									div.catalog-old-price 32 600 Р
									div.catalog-new-price 32 000 Р
								a(href="#").button-info Подробно
								if(filter_table)
									div.catalog-activity
										a(href="#").catalog-activity-link.__active В закладках
										br
										a(href="#").catalog-activity-link К сравнению
			div(data-tabs-group="tab-accessories")#tab-accessories
				div.catalog
					ul.catalog-list.clearfix.list-unstyled
						-for (var i = 0; i < 2; i++)
							li.catalog-item
								div.catalog-kind
									a(href="#" style="background:red").catalog-kind-color
									a(href="#" style="background:green").catalog-kind-color
									a(href="#" style="background:black").catalog-kind-color
								a(href="#").catalog-link
									span.catalog-persent -23%
									img(src="images/example/slider1.png" alt="")
								div.catalog-type SKB
								div.catalog-info
									a(href="#").catalog-title iSeries GoPro Camera Case 1.0
									div.catalog-size 47см Х 16см Х 13см
								div.catalog-price
									div.catalog-old-price 32 600 Р
									div.catalog-new-price 32 000 Р
								a(href="#").button-info Подробно
								if(filter_table)
									div.catalog-activity
										a(href="#").catalog-activity-link.__active В закладках
										br
										a(href="#").catalog-activity-link К сравнению
			div(data-tabs-group="tab-description")#tab-description
				p {Абзац} Reprehenderit minima nihil quasi sunt&nbsp;
					a(href="#") Ссылка в тексте
					|  eum. Rerum, repellendus sed itaque quos beatae aspernatur esse delectus numquam ea quae iste ipsum modi voluptatibus aperiam dolorum architecto nostrum suscipit maiores ipsa dolores vel. Vitae laborum, eveniet molestiae aperiam laboriosam nobis maiores placeat?
				p {Абзац} Mollitia ab impedit necessitatibus animi fugiat quae tenetur sunt qui, neque consectetur sit, quisquam iure accusantium placeat iusto labore rerum ad, doloremque excepturi. Quo rerum maiores ipsa, aliquid expedita, id dolorem magnam sed architecto temporibus iure quisquam voluptatem itaque, sunt.
				ol
					li
						|  Lorem ipsum dolor sit.
					li
						|  Eveniet tempora odit facilis.
					ol
						li
							|  Repellendus deleniti, quod aperiam.
						li
							|  Atque natus, voluptatem odio.
						ol
							li
								|  Repellendus deleniti, quod aperiam.
						li
							|  Placeat inventore adipisci sed.


				| <blockquote>
				| <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				| <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
				| </blockquote>
