body
	background transparent

main
	position relative

.wrapper-content
	clear()

.button
	text-decoration: none;
	text-align: center;
	display: inline-block;
	outline 0;
	border: 0
	cursor pointer
	vertical-align middle
	border-box()
	font-size 15px
	text-shadow 0 2px 0 #e3771e
	padding: 0 14px;
	line-height 44px
	height 44px
	background: #e68422;
	color: #fff;
	border-radius 2px
	border-bottom 2px solid #dd7010
	position relative
	trans()

	&:hover, &.__hover
		background #f26c0c
		border-color #f26c0c
		color #fff
	&:focus, &.__focus, &:active
		background #e64d00
		border-color #e64d00
		color #fff

.falseLink
	display inline
	border-bottom 1px dashed #c02a1b
	text-decoration none!important
	color #c02a1b
	cursor pointer
	&:hover, &:active
		color: #e13726;
		border-color #e13726;

.hr
	clear()
	display block
	size(auto, 0)
	border-bottom 1px dashed #b7b7b7
	margin 20px 0

img
	max-width 100%

