open-sans()
	font-family: 'Open Sans', sans-serif;
roboto()
	font-family: 'Roboto', sans-serif;
pt-sans()
	font-family: 'PT Sans', sans-serif;

body
	background transparent
	pt-sans()
	border-box()
	padding-bottom 512px

main
	position relative
	overflow hidden

.wrapper-content
	clear()

.button
	&-more
		text-decoration: none;
		text-align: center;
		display: block;
		margin 0 auto
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 20px
		roboto()
		font-weight bold
		line-height 54px
		width 262px
		height 54px
		background: #fff;
		color: #393939;
		text-transform uppercase
		position relative
		trans()
		&:hover
			opacity 0.7

	&-detail
		text-decoration: none;
		text-align: center;
		display: inline-block;
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 20px
		open-sans()
		font-weight bold
		line-height 54px
		width 200px
		height 54px
		background: #e51f1f;
		color: #fff;
		position relative
		trans()
		&:hover
			opacity 0.7
	&-info
		text-decoration: none;
		text-align: center;
		display: inline-block;
		outline 0;
		border: 0
		cursor pointer
		vertical-align middle
		border-box()
		font-size 14px
		open-sans()
		font-weight bold
		line-height 40px
		width 140px
		height 40px
		background: #fcf7f1;
		color: #582000;
		text-transform uppercase
		position relative
		trans()
		&:hover
			opacity 0.7





.falseLink
	display inline
	border-bottom 1px dashed #c02a1b
	text-decoration none!important
	color #c02a1b
	cursor pointer
	&:hover, &:active
		color: #e13726;
		border-color #e13726;

.hr
	clear()
	display block
	size(auto, 0)
	border-bottom 1px dashed #b7b7b7
	margin 20px 0

img
	max-width 100%

