h1, h2, h3, h4, h5, h6,
.title-1, .title-2, .title-3, .title-4, .title-5, .title-6
	open-sans()
	color #591e01
	text-transform uppercase
	font-weight bold

h1, .title-1
	font-size 32px
h2, .title-2
	font-size 30px
h3, .title-3
	font-size 26px
h4, .title-4
	font-size 24px
h5, .title-5
	font-size 20px
h6, .title-6
	font-size 18px
.text
	color #591e01
	font-size 20px
.container.__inner
	h1, h2, h3, h4, h5, h6,
	.title-1, .title-2, .title-3, .title-4, .title-5, .title-6
		text-transform none
	h1
		margin-bottom 40px
		& + .text
			margin-top 80px


