.ui-buttonset
	margin 0

.ui-type-checkbox,
.ui-type-radio
	line-height 16px
	&,
	.ui-button-text
		border 0
		border-radius 0
		padding 0
		margin auto
		background transparent
		font-weight 400
		font-size 13px
		color #000
		text-align left
	.ui-button-text
		max-width 100%
		border-box()
		overflow hidden
		line-height 16px
		margin-left: 35px;
		display: block;
		padding: 0;
		color #818181
		font-size 18px
		roboto_condensed()
		margin-top: 5px;
		span
			display inline-block
			vertical-align middle
	&:before
		content ''
		display inline-block
		vertical-align top
		background-position center
		background-repeat no-repeat
		border-box()
		trans()
		margin-top 2px

.ui-type-checkbox
	&:before
		size(22px)
		border 1px solid #818181
		background-color #fff
		border-radius 2px
		float left
	&:hover
		&:before
			background-color #f2f2f2
	&.ui-state-active
		&:before
			background-image images('icon/icon-checkbox.png')
			
.ui-type-radio
	&:before
		size(22px)
		border 1px solid #818181
		background-color #fff
		border-radius 50%
		float left
	&:hover
		&:before
			background-color #f2f2f2
	&.ui-state-active
		&:before
			background-color #fff
			background-image images('icon/icon-radio.png')

/*Custom select styling*/
/*button*/	
.ui-selectmenu-button
	color #818181
	font-size 16px
	roboto_condensed()
	width 100%!important
	font-weight normal
	vertical-align middle
	border-radius 0
.ui-selectmenu-button.ui-state-default
	border none
.ui-selectmenu-button span.ui-selectmenu-text
	border 1px solid #fff
	padding: 4px 25px 4px 10px;
.ui-selectmenu-button .ui-icon
	background-image:none;	
.ui-selectmenu-button .ui-selectmenu-text
	font-size 16px
	background white
.ui-selectmenu-button span.ui-icon
	background url("../images/icon/icon-select.png") no-repeat 0 0
	width 14px
	height 19px
	right 5px
	margin-top -2px
/*button hover*/
.ui-selectmenu-button.ui-state-hover
	background none
	outline none
/*menu*/
.ui-selectmenu-menu .ui-menu
	padding-bottom 0
	border-radius 0
.ui-selectmenu-menu .ui-menu-item
	padding 4px 10px
	background white
	border 1px solid #fff
	border-bottom none
	font-size 16px
	roboto_condensed()
	color: #818181;
.ui-selectmenu-menu .ui-menu-item:hover
	background #fff
.ui-selectmenu-menu .ui-menu-item:first-child
	border-top none
.ui-state-focus, .ui-widget-content .ui-state-focus
	font-weight normal	
.ui-selectmenu-menu .ui-menu-item + .ui-menu-item
	border-top none
.ui-selectmenu-menu .ui-menu-item + .ui-menu-item:after
	content ""
	position absolute
	top 0
	left 10px
	right 10px
	height 1px
.ui-selectmenu-menu .ui-menu-item:hover + .ui-menu-item:after,
.ui-selectmenu-menu .ui-menu-item:hover:after
	background transparent	
.ui-selectmenu-menu .ui-state-focus, .ui-menu .ui-state-active
	margin 0
.ui-menu
	border none
	background none