.breadcrumbs
	position relative
	color #818181
	pt-sans()
	font-size 14px
	margin-bottom 20pxt
	&-link
		color #e2b474
		display inline-block
		vertical-align middle
		trans()
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: normal;
		overflow: hidden;
		max-width 200px
		&:hover
			opacity 0.7
		&.__current
			color #818181
			opacity 1
	&-sep
		color #e2b474
		margin 0 2px
		display inline-block
		vertical-align middle