.callback
	position relative
	margin-bottom 100px
	background #ffedab
	padding 25px 30px 50px
	.text + &
		margin-top 50px
	&-title
		font-size 24px
		padding: 0 70px;
		text-align: center;
		roboto()
		font-weight 300
		margin-bottom 50px
		b
			font-weight bold
	&-form
		margin 0 auto
		width 360px;
		.button
			width 200px
			margin 0 auto
