.catalog-detail
	position relative
	&-gallery
		width 450px
		position relative
		z-index 1
		float left
	&-right
		float right
		margin-left -450px
		width 100%
	&-info
		position relative
		z-index 1
		margin-left 480px
		font-size 16px
		open-sans()
	&-title
		margin-bottom 12px;
		font-weight 300
	&-desc
		font-weight bold
		roboto()
		line-height: 18px;
		font-size 18px
		text-transform uppercase
		margin-bottom 25px
		span, img
			display inline-block
			vertical-align bottom
		img + span
			margin-left 5px
			line-height: 14px
	.filter-subitem.__color
		label
			margin 0 5px 5px 0
			width 40px
			height 40px
	.ui-selectmenu-button span.ui-selectmenu-text
		font-weight bold
		roboto()
		line-height: 18px;
		font-size 18px
		text-transform uppercase
		color #393939
		padding 10px 25px 10px 10px
	.ui-selectmenu-button span.ui-icon
		right 10px
	&-bts
		margin-top 55px
		text-align right
	&-price
		display inline-block
		vertical-align middle
		open-sans()
		font-size 50px
		font-weight bold
		text-transform uppercase
	.button
		width 140px
		display inline-block
		vertical-align middle
		open-sans()
		margin-left: 20px;
		font-size 20px
		font-weight bold
