.contacts
	position relative
	color #393939
	margin-bottom 50px
	&-city
		roboto_condensed()
		font-size 20px
		line-height normal
	&-phone
		roboto()
		font-weight bold
		font-size 24px
		margin-bottom 55px
	&-block
		position relative
		margin-bottom 80px
		background #f3f3f3
		padding 30px 30px 50px
		&-title
			roboto()
			font-weight 300
			font-size 24px
			margin-bottom 30px
			text-align center
		&-form
			margin 0 auto
			width 360px;
		.button
			width 200px
			margin 0 auto
	&-desc
		roboto_condensed()
		font-size 20px
		line-height 30px
		p
			margin-bottom 30px
		h2
			text-transform none
			color #393939
			font-size 24px
			roboto()
			margin-bottom 40px
	&-icon-mail
		display inline-block
		vertical-align middle
		sprite($s-icon-mail)
		margin-right 30px