.footer
	position absolute
	bottom 0
	width 100%
	background #393939
	padding 70px 0 0 0
	color #fff
	opens-sans()
	.container
		padding 0 5px
	&-menu
		display inline-block
		vertical-align top
		width 20%
		&-title
			margin-bottom 38px
		&-item
			margin-bottom 8px
		&-link
			text-decoration none
			color #737373
			font-size 12px
			trans()
			&:hover, &.__active
				color #fff
	&-info
		display inline-block
		vertical-align top
		width 365px
		margin-bottom: 40px;
	&-social
		margin 44px 0
		position relative
		&-item
			display inline-block
			vertical-align middle
			margin-right 10px
			width 50px
			height 50px
			background #fff
			border-radius 50%
			position relative
			&:hover
				&:before
					opacity 0.7
			&:before
				content ''
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				display block
				trans()

			&.__vk
				&:before
					sprite($s-icon-vk)
			&.__fb
				&:before
					sprite($s-icon-fb)
			&.__inst
				&:before
					sprite($s-icon-inst)
	&-subscribe
		position relative
		padding 21px 0
		&-text[type="text"]
			color #fff
			width 100%
			padding 10px 15px
			border 1px solid #818181
			background #393939
		&-btn
			background #818181
			position absolute
			right 5px
			top 26px
			width 100px
			height 33px
			line-height 33px
			text-align center
			font-size 12px
			letter-spacing -1px
			cursor pointer
			trans()
			&:hover
				background #242424
	&-type-payment
		background #fff
		text-align center
		padding 5px 0
	&-bottom
		border-bottom 3px solid #393939
		background #242424
		color #818181
		font-size 12px
		padding 12px 0