.gallery
	position relative
	margin-bottom 40px
	&-item
		float left
		text-align center
		position relative
	&-pager
		position relative
	&-preview
		float left
		margin-right 10px
		trans()
		border 1px solid #e2b575
		content-center(80px)
		&:hover
			opacity 0.7