.inner-menu
	position relative
	margin-bottom 20px
	&-ctn
		overflow hidden
		margin-right -40px
	&-item
		margin-bottom 20px
		float left
		margin-right 44px
	&-link
		text-decoration none
		trans()
		roboto_condensed()
		color #393939
		font-size 20px
		&:hover, &.__active
			color #e74545