.main-seo-text
	max-width: 645px
	margin 0 auto 55px
	text-align justify
	line-height: 32px;
	h1
		font-size 30px
		text-align center
		margin-bottom 45px
		small
			font-size 18px
			text-transform none
			color #591e01
			display block
			margin-top: 8px;
			font-weight: bold
