.main-gallery
	position relative
	&-item
		float left
	&-pager
		position absolute
		bottom 0
		left 0
		width 100%
		text-align center
	&-preview
		display inline-block
		vertical-align middle
		margin 0 5px
		width 110px
		height 78px
		overflow hidden
		position relative
		img
			min-width 110px
			min-height 78px
	&-ctn
		position relative
