.main-search
	position relative
	max-width 800px
	margin 0 auto 37px
	&.__inner
		position absolute
		top 20px
		right 0
		width 440px
		margin 0
	&-text[type="text"]
		text-align left
		display inline-block
		font-size inherit
		border 1px solid #818181
		padding 9px 15px
		width 100%
	&-btn
		background images('/icon/icon-search.png') no-repeat 50% 50% #393939
		width 42px
		height 34px
		cursor pointer
		position absolute
		top 4px
		right 4px
		line-height 34px
		trans()
		&:hover
			opacity 0.7
