.main-catalog
	position relative
	margin-bottom: 61px;
	&-line
		margin-bottom 40px
		display table
		width 100%
	&-item
		width 33.33%
		border-box()
		padding 15px
		display table-cell
		vertical-align top
		border 1px solid transparent
		trans()
		position relative
		padding-top 10px
		min-height 448px
		overflow hidden

		&:hover
			border-color #e2b474
	&-preview
		display block
		margin-bottom: 15px;
		text-decoration none
		trans()
		content-center(100%, 208px)
		&:hover
			opacity 0.7
	&-title
		padding 5px 70px
		text-transform uppercase
		font-weight bold
		open-sans()
		font-size 20px
		background rgba(255,255,255,0.8)
		z-index 1
		position absolute
		width 100%
		bottom 0
		left 0
		text-align left
		@media screen and (max-width: 1200px)
			padding-left 10px
			padding-right 55px

	&-total-count
		position absolute
		top 5px
		right 45px
		text-transform none
		roboto()
		font-size 18px
		font-weight normal
		@media screen and (max-width: 1200px)
			right: 10px
	&-category
		position relative
		margin-bottom 25px
		&-item
			display block
			padding 10px 100px 10px 70px
			font-size 16px
			color #582000
			position relative
			text-decoration none
			open-sans()
			trans()
			@media screen and (max-width: 1200px)
				padding-left 10px
				padding-right 55px
			&:hover
				 background #e1b573
				.main-catalog-count
					display block
	&-count
		color #7c5145
		roboto()
		font-size 18px
		font-weight normal
		position absolute
		top 50%
		margin-top -12px
		right 45px
		display none
		@media screen and (max-width: 1200px)
			right: 10px
