.social-follow
	position relative
	text-align right
	margin-bottom 50px
	&-item
		display inline-block
		vertical-align middle
		margin-left 20px
		trans()
		&:hover
			opacity 0.7
		&.__fb
			sprite($s-icon-fb-follow)
		&.__vk
			sprite($s-icon-vk-follow)