.tape-news
	position relative
	margin-bottom 50px
	&-container
		position relative
	&-item
		float left
		position relative
		width 490px
	&-preview
		float left
		position relative
		content-center(250px, 310px)
	&-date
		position absolute
		top 10px
		left 10px
		background yellow
		color #000
		padding 5px 10px
	&-content
		margin-left 270px
	&-title
		font-weight bold
		display inline-block
		margin-bottom 15px
	p
		font-size 12px