.no-borderedTable
	border: 0!important;

.no-borderedTable td,
.no-borderedTable th
	border: 0!important;



.text
	text-align justify
	img
		max-width 100%
		&.left
			margin-right 10px
		&.right
			margin-left 10px
		
	p,
	img,
	ul,
	ol
		margin-bottom 30px
		line-height 30px


.bold 
	font-weight bold

.italic 
	font-style italic

.decoration 
	text-decoration underline

.uppercase,
.upper
	text-transform uppercase

.lowercase,
.lower
	text-transform lowercase
	
.center
	text-align center
	
.left,
.to-left
	float left
	left 0
	
.right,
.to-right
	float right
	right 0

.align-right
	text-align: right
.align-center
	text-align: center
.align-left
	text-align: left
.nowrap
	white-space nowrap

