.no-borderedTable
	border: 0!important;

.no-borderedTable td,
.no-borderedTable th
	border: 0!important;



.text
	text-align justify
	img
		max-width 100%
		&.left
			margin-right 40px
		&.right
			margin-left 40px
		
	p,
	img,
	ul,
	ol
		margin-bottom 30px
		line-height 30px

.text
	blockquote
		p
			line-height 24px
blockquote
	position relative
	color #393939
	font-style italic
	font-size 14px
	line-height normal
	padding: 0 0 0 55px;
	border 0
	background url('../images/icon/icon-quote.png') 0 0 no-repeat
	p
		line-height 24px
	&:before
		display block
		content ''
		sprite($s-icon-quote)
		position absolute
		top 0
		left 0

.bold 
	font-weight bold

.italic 
	font-style italic

.decoration 
	text-decoration underline

.uppercase,
.upper
	text-transform uppercase

.lowercase,
.lower
	text-transform lowercase
	
.center
	text-align center
	
.left,
.to-left
	float left
	left 0
	
.right,
.to-right
	float right
	right 0

.align-right
	text-align: right
.align-center
	text-align: center
.align-left
	text-align: left
.nowrap
	white-space nowrap

