input[type="text"], select, textarea,
input[type="password"], input[type="date"],
input[type="datetine"], input[type="email"],
input[type="number"], input[type="search"],
input[type="time"], input[type="tel"],
input[type="month"], input[type="week"]
	background #fff
	pt-sans()
	font-size 12px
	border 1px solid #818181
	width 100%
	border-box()
	text-align center
	padding 12px
	display block

.form
	position relative
	&-sign
		color: #d02b1f;
		display: inline-block;
		margin-left: 2px;
		font-size: 12px;
		position: relative;
		top: -7px;

	input[type="checkbox"]
		display inline-block
		vertical-align middle
	input[type="checkbox"] + label
		font-size 13px
		display inline-block
		vertical-align middle
		margin 0
	.ui-selectmenu-button
		font-size 14px
		width 100%!important

	&-item
		margin-bottom 20px
		&.__error
			input,
			select,
			textarea
				border 1px solid #A40B16
		& .form-attention
			margin 0
	&-attention
		font-style italic
		font-size 16px
		font-weight 300
		margin-bottom 20px
	textarea
		height 90px
	label
		display block
		font-size 16px
		font-weight 300
		color #000
	&-files
		position: relative;
		padding: 0;
		text-align: center;
		margin: -15px 0 17px;
		& input[type="button"]
			width auto
			display inline-block
			padding 0
			outline 0 none
			background transparent
			cursor pointer
			margin 0
			border 0;
			base-font()
			color #494949
			border-bottom 1px dashed #494949
			line-height normal
			font-size 14px
		& span
			display: block;
			line-height normal
			padding-top: 10px;




.error-msg
	color #9e0b0f
	font-size 12px
	margin-bottom 10px
	input + &
		margin-top 7px

