header.header
	div.header-top-line
		div.container.clearfix
			div.left
				include ../../modules/main-menu

			div.right
				!='\n'
				if (currentPageTitle == 'Сравнение')
					span.header-link.__current Сравнение
				else
					a(href="#").header-link Сравнение
				!='\n'
				a(href="#").header-link Закладки
				!='\n'
				a(href="#").header-basket
					!='\n'
					span.header-basket-icon
					!='\n'
					span Корзина
			if (currentPageTitle == 'Главная страница')
				span.header-logo
					img(src="images/logo.png" alt="Главная страница")
			else
				a(href="#").header-logo
					img(src="images/logo.png" alt="Главная страница")
	div.header-bottom-line
		div.container.clearfix
			div.left.header-slogan Продажа любых кейсов, рэков, кофров онлайн и под заказ
			div.right
				div.header-phone 8 800 555-50-46
				p 8 495 640-93-20
				p 8 812 640-93-20
