head
	|<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	block title
		title!= ( currentPageTitle && currentPageTitle.length > 0 ? currentPageTitle[currentPageTitle.length - 1] : 'Заголовок страницы' )

	link(rel='stylesheet', type='text/css', href='./css/vendors.css')
	link(rel='stylesheet', type='text/css', href='./css/production.css')







