@font-face {
	font-family: 'ALSRubl';
	src: url("../fonts/ALSRubl.eot") format("embedded-opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl.svg#ALSRubl") format("svg");
	font-weight: normal;
	font-style: normal;
}
.ruble {
	font-family: 'ALSRubl', sans-serif;
}