    $s-butter-2x = 85px 0px -85px 0px 52px 41px 137px 125px 'sprite.png';
    $s-butter = 85px 46px -85px -46px 26px 21px 137px 125px 'sprite.png';
    $s-cart-2x = 0px 0px 0px 0px 80px 80px 137px 125px 'sprite.png';
    $s-cart = 0px 85px 0px -85px 40px 40px 137px 125px 'sprite.png';
    $s-phone = 45px 85px -45px -85px 40px 40px 137px 125px 'sprite.png';
