div.main-gallery-ctn
	ul.main-gallery.js-main-gallery
		li.main-gallery-item
			//div.main-gallery-title Кейсы для оружия
			img(src='images/example/main-gallery/1.png' alt="").main-gallery-img
		li.main-gallery-item
			//div.main-gallery-title Кейсы для оружия
			img(src='images/example/main-gallery/2.png' alt="").main-gallery-img

	div#js-bx-pager.main-gallery-pager
		a(data-slide-index='0', href='').main-gallery-preview
			img(src='images/example/main-gallery/1.png' alt="")
		a(data-slide-index='1', href='').main-gallery-preview
			img(src='images/example/main-gallery/2.png' alt="")

