div.main-text
	div.container
		div.main-text-logo
			img(src="images/small-logo.png" alt="")
		div.main-text-block.clearfix
			div.main-text-desc
				div.main-text-item
					p Наша компания имеет возможность осуществлять поставку всех вышеуказанных категорий товаров таких всемирно известных производителей кейсов и кофров, как компании SKB и Peliсan. Продукция этих компаний пользуется большой популярностью среди потребителей по всему миру, которые по достоинству оценили надежность этих изделий, их повышенную износостойкость, изящный дизайн и тот уровень безопасности, который обеспечивается для предметов всех категорий, перевозимых в кейсах и кофрах производства компаний SKB и Peliсan. А прямые договоры с производителями позволяют нам предложить для Вас минимально возможный уровень цен на все кейсы и кофры.
					p Мы работаем как с частными лицами, так и с индивидуальными предпринимателями и организациями. Все наши клиенты могут выбрать наиболее удобный для них способ оплаты, воспользовавшись пластиковой
				div.main-text-item
					p приобретаемые у нас кейсы и кофры Вы хотите видеть как можно скорее после покупки в своих руках. Поэтому мы предлагаем Вам воспользоваться нашей курьерской доставкой, если Вы проживаете в Москве или Санкт-Петербурге, а также в Московской и Ленинградской областях.  А в том случае, если Вы живете в любом другом российском регионе, купленные Вами кейсы и кофры доставит Вам Почта России или другой альтернативный оператор.
					p Также жители обеих российских столиц могут воспользоваться услугой самовывоза. <br/>А в том случае, если Вы хотите приобрести эксклюзивный кейс или кофр, Вы можете воспользоваться нашим уникальным предложением «Заказ «Экстра», который обеспечит Вам доставку под заказ.
					a(href="#").button-more Перейти в каталог