form(method="" action="" class="#{currentPageTitle !== 'Главная страница' ? '__inner' : ''}").main-search
	input(type="text" placeholder="Найдите кейсы для себя").main-search-text
	input(type="submit" value="").main-search-btn
