-var slider = [];
-slider[0] = {};

div.slider-actions
	ul.slider-actions-list.clearfix.list-unstyled.js-list-actions
		-for (var i = 0; i < 4; i++)
			li.slider-actions-item
				a(href="#").slider-actions-link
					span.slider-actions-persent -23%
					img(src="images/example/slider1.png" alt="")
				div.slider-actions-type SKB
				a(href="#").slider-actions-title iSeries GoPro Camera Case 1.0
				div.slider-actions-old-price 32 600 Р
				div.slider-actions-new-price 32 000 Р
				a(href="#").button-info Подробно
			li.slider-actions-item
				a(href="#").slider-actions-link
					span.slider-actions-persent -3%
					img(src="images/example/slider2.png" alt="")
				div.slider-actions-type SKB
				a(href="#").slider-actions-title iSeries GoPro Camera Case 1.0
				div.slider-actions-old-price 32 600 Р
				div.slider-actions-new-price 32 000 Р
				a(href="#").button-info Подробно
