.tape-news
	ul.tape-news-container.clearfix.list-unstyled
		-var tapeNews = []
		-tapeNews[0] = {}
		-tapeNews[0].title = 'Новый кейс  для оружия  Pelican 472-M4- M11-5 Rifle Case'
		-tapeNews[0].link = '#'
		-tapeNews[0].img = 'images/example/Layer-1.png'
		-tapeNews[0].content = 'Идеальный выбор для перевозки пяти комплектов пистолетов  и винтовок'
		-tapeNews[1] = {}
		-tapeNews[1].title = 'Кейсы  производства  компании Pelican'
		-tapeNews[1].link = '#'
		-tapeNews[1].img = 'images/example/Layer-2.png'
		-tapeNews[1].content = 'помогут не только в работе'

		-for (var item in tapeNews)
			li.tape-news-item
				.tape-news-preview
					.tape-news-date 19.02.15
					a(href="#{tapeNews[item].link}").tape-news-link
						img.tape-news-img(alt='' src="#{tapeNews[item].img}")
				.tape-news-content
					a(href="#").tape-news-title= tapeNews[item].title
					p= tapeNews[item].content
